<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IP" value="Ip To Check"/>
    <!-- 1=Show & 0=Hide -->
    <add key="LogFile" value="E:\\Log.txt"/>
    <add key="ErrorFile" value="E:\\Error.txt"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
